

/* Home.js ...................................................*/

.home-background{
  background-image: url(../public/image/home-image/header-background.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
  

.home-background h1{
  font-weight: 700;
  margin-left: 100px;

}
.home-background .btn{
  width: 150px;
  margin-top: 25px;
  margin-left: 100px;

}

@media only screen and (max-width: 600px) {
  .home-background {
    height: 450px;
  }
  .home-background h1{
    font-weight: 400;
    margin-left: 20px;
  }
  .home-background .btn{
    width: 105px;
    margin-left: 20px;
    margin-top: 5px;

  }
}

/* Home.js......... fashion box */

.fation-box{
  opacity: 1;  
}
.fation-box:hover{
  opacity: 0.8;
}
@media only screen and (max-width: 600px) {
  .fation-box{
    width: 100px;
  }
}

/* ViewMore................. */

.view-more-1{
  background-image: url(/public/image/home-image/ViewMore-1.png);
  height: 470px;
  text-align: center;
  
}
.view-more-2{
  background-image: url(/public/image/home-image/ViewMore-2.png);
  height: 470px;
  text-align: center;
  
}




/* Navbar.js ...................................................*/

.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  z-index: 1;

}
